.wrapper {
    margin-top: var(--default-layout-height-header);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    min-height: 1000px;
}

.AppGlass {
    margin-top: 30px;
    display: grid;
    height: 100%;
    width: 100%;
    background: var(--glass);
    gap: 10px;
    grid-template-columns: 26rem auto;
    overflow: hidden;
}
