.footer {
    padding: 20px 0;
    font-size: 1.4rem;
    transition: all 0.3s;
    border-top: 1px solid #cdddff;
}

.footer .copyright {
    text-align: center;
    color: #012970;
}

.footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 1.3rem;
    color: #012970;
}
