.wrapper {
}

.container__card {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--activeItem);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;

    span {
        font-size: 2rem;
        color: var(--black);
        margin-right: 4px;
    }

    &:hover {
        background-color: rgba(214, 31, 116, 0.3);
    }
}

.container__card-icon {
    margin-left: 4px;
}
