.transaction__subject-background {
    background-image: url('/assets/images/backgroundtransaction.png');
    width: 100%;
    height: 317px;
}

.transaction__subject-content {
    margin-top: 10px;
}
