.wrapper {
    margin-top: var(--default-layout-height);
}

.search {
    background-color: var(--primary);
    padding-top: 20px;
    margin-bottom: -50px;
    position: relative;
}

.slip {
    position: sticky;
    top: var(--default-layout-height-header);
}

.search h3 {
    font-size: 2rem;
    font-weight: 800;
}

.search .search__items label {
    font-size: 1.4rem;
    padding: 10px 0;
    min-width: 110px;
}

.search .search__items input {
    width: calc(100% - 110px);
    height: 24px;
    border: 1px solid #e0dede;
    border-radius: 4px;

    &:hover {
        border: 1px solid rgb(179, 149, 218);
    }
}

.search .search__items select {
    width: calc(100% - 110px);
    height: 24px;
    border: 1px solid #e0dede;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        border: 1px solid rgb(179, 149, 218);
    }
}

.result__total {
    border-bottom: 1px solid #e0dede;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result__total-number {
    margin-top: 20px;
    p {
        font-size: 2.2rem;
    }
}

.result__total-sort {
    .result__total-sort-form {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    label {
        font-size: 2.2rem;
        margin-right: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid var(--line-border);
        border-radius: 2px;

        &:hover {
            cursor: pointer;
        }
    }

    option {
        color: #1d1b1a;

        &:hover {
            cursor: pointer;
            background-color: var(--light-gray);
        }
    }
}

.container_avatar-chat {
    font-size: 1.4rem;
    color: var(--white);

    &:hover {
        background-color: var(--hover);
    }
}
