.wrapper {
    margin-top: var(--default-layout-height);
}
.container__main {
}

.container__sidebar {
    background-color: var(--white);
}

.container__sidebar-home {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-border);

    span {
        font-size: 1.6rem;
        margin-left: 10px;
        padding: 10px 0;
        font-weight: 800;
    }

    &:hover {
        background-color: var(--line-border);
        cursor: pointer;
    }
}

.active {
    color: rgb(254, 44, 85);
}

.container__sidebar-search {
    margin-bottom: 10px;
}

.container__sidebar-search-input {
    border: 1px solid var(--black);
}

.container__sidebar-suggested {
    border-top: 1px solid var(--line-border);
    p {
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.container__sidebar-suggested-label {
    margin-top: 10px;
}

.container__sidebar-suggested-label-see {
    margin-left: auto;
    color: red;
    margin-top: 5px;
}

//video
.container__tag-video {
    padding: 20px 0;
    border-bottom: 1px solid var(--line-border);
}

.container__video {
    margin-top: 10px;
}

.container__video-user {
    display: flex;
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

.container__video-user-summary {
    padding-left: 36px;
    span {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }
}

.container__video-user-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 1rem;
    span {
        color: var(--white);
    }

    &:hover {
        background-color: var(--hover);
    }
}

.container__clip {
    display: flex;
    justify-content: center;
}
