
.wrapper {
    margin-top: var(--default-layout-height-header);
    min-height: 1000px;
}
  
  .AppGlass {
    margin-top: 64px;
    display: grid;
    height: 97%;
    width: 97%;
    background: var(--glass);
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 20rem auto 20rem;
    overflow: hidden;
    min-height: 1000px;
  }