
.wrapper {
    margin-top: var(--default-layout-height-header);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
  
  .AppGlass {
    margin-top: 64px;
    display: grid;
    height: 97%;
    width: 97%;
    background: var(--glass);
    gap: 16px;
    grid-template-columns: 20rem auto 20rem;
    overflow: hidden;
  }
