.MainDash{
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;

    h1{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
}