.wrapper {
    margin-top: var(--default-layout-height-header);
    min-height: 500px;
    background-color: #f9f9f9;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 500px;
}

.container__title {
    text-align: center;
    margin-bottom: 20px;
    h1 {
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        color: rgb(237, 109, 32);
    }
}

.container_user {
    border-right: 1px solid #ebe7e7;
    padding-right: 20px;
}

.user_item {
    width: 300px;
}

.container_user_item {
    max-height: 330px;
    .content_left {
        margin-left: 10px;
        margin-top: 10px;
    }
}

.container__detail {
    border: 1px solid rgb(202, 202, 202);
    padding: 10px;
    border-radius: 10px;
}

.container_user_detail {
    display: flex;
    align-items: center;
    border: 1px solid rgb(85, 84, 84);
    border-radius: 5px;
    width: 320px;
    height: 68px;
    img {
        width: 50px;
        height: 50px;
        padding: 2px;
        background-color: var(--primary);
        border-radius: 100%;
    }
}

.container_user_detail:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.content_left {
    display: flex;
    flex-direction: column;
    span {
        margin-top: 10px;
        font-weight: bold;
        color: #121212;
        font-size: 15px;
    }

    .content_day {
        display: flex;
        text-align: end;
        color: #666;
    }
}

.container__mess_detail {
    padding-left: 20px;
    .container__mess_header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
            width: 50px;
            height: 50px;
            padding: 2px;
            background-color: var(--primary);
            border-radius: 100%;
        }

        span {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
    }
}

.container_user {
    .container_user_item {
        display: flex;
        justify-content: center;
    }
}

.container__mess_header {
    display: flex;
    span {
        margin-left: 20px;
        font-size: 25px;
        font-weight: bold;
        margin-top: 10px;
    }
    align-items: center;
    padding-bottom: 10px;
    border-radius: 5px;
}

.container__mess_chatbox {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    .header_noti {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
        line-height: 1.5;
    }
    a {
        color: #337ab7;
        text-decoration: underline;
    }

    .body_noti {
        height: 100px;
        font-size: 15px;
    }

    .body_noti p,
    .body_noti span {
        text-transform: lowercase;
    }

    .final_noti {
        text-align: end;
        font-size: 15px;
    }
}
