.wrapper {
    margin-top: var(--default-layout-height-header);
    min-height: 500px;
}


.container_user_detail {
    display: flex;
    align-items: center;
    border: 1px solid rgb(105, 101, 101);
    margin-top: 10px;
    border-radius: 5px;
    width: 320px;
    height: 68px;
    img {
        width: 50px;
        height: 50px;
        padding: 2px;
        background-color: var(--primary);
        border-radius: 100%;
    }
}


.container_user_detail:hover{
    cursor: pointer;
    border: 2px solid rgb(12, 159, 63);
    box-shadow: 0px 5px 10px #5e5f5f, 0px 0px 2px #171a1f;

}


.user_item{
    width: 100%;
}

.content-left{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
    span {
        margin: 6px 0;
        font-size: 15px;
        font-weight: bold;
    }
    p{
        font-size: 12px;
    }
}


.container_text{
    // text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 20px;
    // margin-right: 10px;
    padding: 10px;
}

.container__mess_detail{
    position: absolute;
    top: 50px;
    left: 570px;
    width: 800px;
    min-height: 200px;
    background: rgb(237, 235, 235);
    border-radius: 4px;
    box-shadow: 0px 10px 20px #5e5f5f, 0px 0px 2px #171a1f;
    img{
        width: 55px;
        height: 55px;
        border-radius: 100%;
        margin-top: 15px;
        margin-left: 15px;
    }
}

.container_user{
    margin-top: 20px;
    .container_user_item{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

.container__mess_header{
    display: flex;
    span{
        margin-left: 20px;
        font-size: 25px;
        font-weight: bold;
        margin-top: 10px;
    }
    align-items: center;
    padding-bottom: 10px;
    border-radius: 5px;
}

.container__mess_chatbox{
    height: 200px;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    .header_noti{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 5px
        }
        p{
            margin: 0; /* Remove default margin for cleaner layout */
  line-height: 1.5;
        }
        a{
            color: #337ab7; /* Use a blue color that's consistent with common link styles */
  text-decoration: underline;
        }

        .body_noti{
            height: 100px;
            font-size: 15px;
        }

        .final_noti{
            text-align: end;
            font-size: 15px;
        }
}


.container__type_message{
    text-align: center;
    .send_icon{
        // padding: 13px 8px;
        border-radius: 5px;
        // box-shadow: 0px 0px 2px #5e5f5f, 0px 0px 1px #171a1f;
    }
    svg{
        height: 30px;
        width: 30px;
    }
}

.send_icon:hover{
    cursor: pointer;
    // border: 2px solid rgb(93, 109, 145);
}

.type_message{
    height: 40px;
    width: 500px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #171a1f;
}

.button__create_class{
    display: flex;
    justify-content: end;
    button{
        padding: 8px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 5px;
        text-transform: uppercase;
        box-shadow: 0px 0px 5px #888a8a, 0px 0px 2px #171a1f;
        background-color: #62CD14FF;
        
    }

    button:hover{
        box-shadow: inset 0 1px 5px rgb(33, 190, 49);
        color: aliceblue;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

.button_confirm{
    margin-top: 20px;
    display: flex;
    .button_cancel{
        font-size: 15px;
        font-weight: bold;
        border-radius: 5px;
        position: absolute;
        top: 300px;
        left: 600px;
        padding: 8px;
        background-color: #DE3B40FF;
        color: white;
    }

    .button_accept{
        font-size: 15px;
        font-weight: bold;
        border-radius: 5px;
        position: absolute;
        top: 300px;
        left: 700px;
        padding: 8px;
        background-color: #62CD14FF;
        color: white;
    }
}

