.container {
    max-width: 285px;
    min-width: 210px;
}

.container__tag {
    padding: 10px 10px;
    border-bottom: 1px solid var(--line-border);

    p {
        margin-bottom: 5px;
        font-size: 1.4rem;
    }

    &:hover {
        background-color: var(--line-border);
        cursor: pointer;
    }
}

.container__tag-author {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 0.8rem;
    }
}

.container .container__tag:last-child {
    border-bottom: none;
}
