.requestTutor__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 640px;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.requestTutor__container-body {
    width: 617px;
}

.requestTutor__container-subject,
.requestTutor__container-title,
.requestTutor__container-degree,
.requestTutor__container-gender {
    display: flex;
    align-items: center;
    label {
        font-size: 1.4rem;
        font-weight: 700;
        min-width: 120px;
    }

    select {
        height: 30px;
        width: 121px;
        font-size: 1.8rem;

        border-radius: 4px;

        option {
            font-size: 1.4rem;
        }

        &:hover {
            cursor: pointer;
            border: 1px solid var(--black);
        }
    }

    input {
        height: 30px;
        width: 200px;
        border: 1px solid black;
        border-radius: 4px;
        font-size: 20px;
        padding: 10px;
    }
}

.requestTutor__container-subject {
    margin-right: 22px;
}

.requestTutor__container-title {
    margin: 5px 0;
    label {
        min-width: 60px;
    }
    input {
        width: 100%;
    }
}

.requestTutor__container-dcs {
    margin-bottom: 10px;
    p {
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: 10px;
        min-width: 50px;
    }

    textarea {
        width: 100%;
        padding: 10px;
        font-size: 18px;
    }
}

.requestTutor__container-submit {
    margin-bottom: 10px;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    font-size: 1.4rem;
    background-color: var(--orange);
    border-radius: 4px;
    color: var(--white);

    &:hover {
        background-color: var(--hover);
    }
}

.requestTutor__container-cancel {
    margin-bottom: 10px;
    height: 30px;
    width: 100px;
    font-size: 1.4rem;
    background-color: red;
    border-radius: 4px;
    color: var(--white);

    &:hover {
        background-color: var(--hover);
    }
}

.requestTutor__container-bag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.requestTutor__container-bag .requestTutor__container-grade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: 10px;
        min-width: 50px;
    }

    select {
        height: 30px;
        width: 80px;
        font-size: 1.8rem;

        border-radius: 4px;

        option {
            font-size: 1.4rem;
        }

        &:hover {
            cursor: pointer;
            border: 1px solid var(--black);
        }
    }
}

.requestTutor__container-hour {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    label {
        min-width: 120px;
        font-size: 1.4rem;
        font-weight: 700;
    }
    input {
        height: 30px;
        width: 121px;
        border: 1px solid black;
        border-radius: 4px;
        font-size: 20px;
        padding: 10px;
    }
    select {
        height: 30px;
        width: 121px;
        font-size: 1.8rem;

        border-radius: 4px;

        option {
            font-size: 1.4rem;
        }

        &:hover {
            cursor: pointer;
            border: 1px solid var(--black);
        }
    }
}

.requestTutor__container-hour-item,
.requestTutor__container-grade {
    min-width: 241px;
    margin-right: 19px;
}

.requestTutor__container-date {
    display: flex;
    padding: 5px 0;
    label {
        min-width: 100px;
        font-size: 1.4rem;
        font-weight: 700;
    }
    input {
        height: 30px;
        width: 140px;
        border: 1px solid black;
        border-radius: 4px;
        font-size: 1.6rem;
        padding: 10px;
    }
}

.requestTutor__container-date {
    display: flex;
}

.requestTutor__container-dayOfWeek {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
    min-width: 300px;
    span {
        font-size: 1.6rem;
        font-weight: 700;
    }
}

.requestTutor__container-dayOfWeek-label {
    display: flex;
    align-items: center;
    height: 62px;
    background-color: rgb(239, 242, 247);
    padding: 0 20px;
}

.requestTutor__container-dayOfWeek-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 22px 0 0 0;

    .requestTutor__container-dayOfWeek-item-selected {
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.4rem;

        &:hover {
            background-color: var(--hover);
            cursor: pointer;
        }
    }
}

.requestTutor__container-date-item {
    margin-right: 20px;
}

.requestTutor__container-btn {
    display: flex;
    justify-content: flex-end;
}

.disabled {
    background-color: #f29b6fed;

    &:hover {
        cursor: none;
        background-color: #f29b6fed;
    }
}

.requestTutor__container-close {
    position: absolute;
    top: 0;
    right: -30px;
    color: var(--white);

    &:hover {
        cursor: pointer;
    }
}

.selected {
    background-color: #ed6d20;
    color: white;
}
