.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: var(--default-layout-height-header);
    background-color: #363232;
}

.logo {
}

.logo-link {
    height: 100%;
    display: block;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.login-signup {
    display: flex;
    align-items: center;
    justify-content: end;
}

.login-btn {
    width: 72px;
    height: 32px;
    font-size: 1.2rem;
    color: var(--white);
    background-color: transparent;

    span {
        font-weight: 400;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.signup-btn {
    width: 72px;
    height: 32px;
    font-size: 1.2rem;
    margin-left: 5px;
    color: var(--white);
    background-color: transparent;
    border: 1px solid #60ad56;

    &:hover {
        cursor: pointer;
        background-color: #60ad56;
    }
}
