.ApplyTutor {
    margin: 40px var(--default-viewport-weight);
}

.ApplyTutor-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ApplyTutor-content {
    border: 2px solid var(--light-green);
    border-radius: 10px;
    width: 1200px;
    padding: 40px;
}

.ApplyTutor-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 4px;
}
.ApplyTutor-summary {
    font-size: 1.4rem;
    margin-bottom: 40px;
}
.ApplyTutor-btn {
    color: var(--black);
    width: 120px;
    border-radius: 6px;

    &:hover {
        cursor: pointer;
        background-color: var(--light-green);
        color: var(--white);
    }
}
